.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  body {
    background : black;
  }
  
  .form-container {
    padding: 20px;
    background: #5e0231;
    color:white;
    
  }
  .form-group-prop{
    width: 50%;
    
  }